/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


/* Utility classes */

:root {

    /* Primary Colors */

    --clr-soft-blue: hsl(215, 51%, 70%);
    --clr-cyan: hsl(178, 100%, 50%); 
    
    /* Neutral Colors */ 
    --clr-main-bg-dark-blue : hsl(217, 54%, 11%);
    --clr-card-bg-dark-blue: hsl(216, 50%, 16%); 
    --clr-line-dark-blue: hsl(215, 32%, 27%);
    --clr-text-white: hsl(0, 0%, 100%);

    /* font weights */
    --fw-regular: 300;
    --fw-semi-bold: 400;
    --fw-bold: 500;

    /* border radius */
    --universal-radius: 0.8rem;
}

/* General Styling */

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-weight: var(--fw-regular);
    background-color: var(--clr-main-bg-dark-blue);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nft-card{
    display: grid;
    max-width: 350px;
    gap: 1.5rem;
    background-color: var(--clr-card-bg-dark-blue);
    margin: 3rem 2rem;
    padding: 1.5rem;

    border-radius: var(--universal-radius);
    cursor: default;


    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
            0 2px 4px rgba(0, 0, 0, 0.07),
            0 4px 8px rgba(0, 0, 0, 0.07),
            0 8px 16px rgba(0, 0, 0, 0.07),
            0 16px 32px rgba(0, 0, 0, 0.07),
            0 32px 64px rgba(0, 0, 0, 0.07);
}

.img-container {
    position: relative;
}

.img-container > img {
    border-radius: var(--universal-radius);
}

.view-icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(178, 100%, 50%, 40%);;
    border-radius: var(--universal-radius);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    cursor: pointer;
}

.view-icon:hover {
    opacity: 1;
}

.view-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.nft-card-content {
    display: grid;
    gap: 1rem;
}

.nft-title {
    color: var(--clr-text-white);
    font-weight: var(--fw-bold);
    font-size: 1.3rem;
}

.nft-title:hover {
    cursor: pointer;
    color: var(--clr-cyan);
}

.nft-description {
    color: var(--clr-soft-blue);
}

.flex-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.flex-group p:nth-child(1) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    color: var(--clr-cyan);
}

.flex-group p:nth-child(2) {
    color: var(--clr-soft-blue);
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
}

.flex-group p:nth-child(1)::before {
    content: "";
    width: 11px;
    height: 18px;
    background: url(images/icon-ethereum.svg);
}

.flex-group p:nth-child(2)::before {
    content: "";
    width: 17px;
    height: 17px;
    background: url(/images/icon-clock.svg);
}

hr {
    color: var(--clr-line-dark-blue);
}

.nft-attribution {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    color: var(--clr-text-white);
}

.nft-attribution img {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.nft-attribution span {
    color: white;
}

.nft-attribution span:hover {
    cursor: pointer;
    color: var(--clr-cyan);
}

/* Creator's Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--clr-text-white);
}

.attribution a {
    text-decoration: none;
    color: var(--clr-cyan);
}

